body {
  background-color: #f8f8f8;  /* Define a cor de fundo do corpo da página */
  display: flex;  /* Usa o modelo de layout Flexbox */
  justify-content: center;  /* Alinha o conteúdo horizontalmente no centro */
  align-items: center;  /* Alinha o conteúdo verticalmente no centro */
  height: 100vh;  /* Faz o body ocupar 100% da altura da janela de visualização */
  margin: 0;  /* Remove as margens padrão do navegador */
}

.container img {
  width: 400px;  /* Define a largura da imagem */
  height: auto;  /* Mantém a proporção da imagem */
  border-radius: 15px;  /* Adiciona bordas arredondadas à imagem */
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);  /* Adiciona uma sombra suave à imagem */
}
